.faq{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.faq__q {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    font-size: 1.2rem;
    color: $font_softcolor;
}